body {
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  margin:0px;
}

body, html, #root {
  height:100%;
  min-height:100%;
  min-width:100%;
}

/*Hide header groups in ReactTable*/
.-headerGroups {
  height: 0px;
}

div[role=group] {
  outline: none;
}